.body {
  text-align: center;
  padding: 20px;
}
.section1 {
  background-color: black;
}
.productbutton {
  background-color: rgb(7, 122, 229);
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
}
.addcategory {
  background-color: rgb(37, 229, 7);
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
}
.footer {
  padding: 2vh;
}
.logout {
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
}

.header{
    background-color: antiquewhite;
}
.heading{
    padding: 20px;
}
.cell_padding{
    padding:20px;
}